<h1>Edit Hobby</h1>
<form action="/hobbies/<%= @hobby.id %>/edit" method="post">
    <input type="hidden" name="_method" value="patch"></input>
    <h3>Name:</h3><input type="text" name="hobby[name]" value="<%= @hobby.name %>"></input>
    <h3>Season:</h3><input type="text" name="hobby[season]" value="<%= @hobby.season %>"></input>
    <input type="submit" value="Edit Hobby"></input>
</form>