<h1>Edit Hobby</h1>
<form action="/hobbies" method="/post">
    <h3>Name:</h3><input type="text" name="name" value="<%= @hobby.name %>"></input>
    <h3>Season:</h3><input type="text" name="season" value="<%= @hobby.season %>"></input>
    <input type="submit" value="Edit Hobby"></input>
</form>