<h1>Create a Hobby</h1>
<h4><h4 style="color:red;"><%= @error %></h4>
<form action="/hobbies" method="post">
    <h3>Name:</h3><input type="text" name="name" placeholder="Name"></input>
    <h3>Season:</h3><input type="text" name="season" placeholder="Season"></input>
    <input type="submit" value="Create Hobby"></input>
</form><br><br>
<a href="/hobbies">Back to all hobbies</a><br><br>