<h1>Create Hobby</h1>
<form action="/hobbies" method="/post">
    <h3>Name:</h3><input type="text" name="name" placeholder="Name"></input>
    <h3>Season:</h3><input type="text" name="season" placeholder="Season"></input>
    <input type="submit" value="Create Hobby"></input>
</form>